* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: normal;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-logo {
    color: blueviolet;
    font-size: 30px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: chocolate;
    font-size: 22px;
}

.nav-links li a:hover {
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.btn-dwn {
    font-size: 22px;
    color: black;
    background-color: blueviolet;
    border-radius: 24px;
    padding: 10px 20px;
}

.hero-section {
    padding: 20px;
    background-color: cadetblue;
    text-align: center;
}

.text {
    font-size: 30px;
    color: blue;
}

.lorem {
    font-size: 20px;
    color: black;
}

.click-btn {
    font-size: 18px;
    color: beige;
    background-color: brown;
    border-radius: 4px;
    border: 1px solid #FFF;
    padding: 5px 10px;
}

.click-btn:hover {
    border: 1px solid #000CCF;
    transition: 0.3s ease-in-out;
}

.toggle-btn {
    color: black;
    font-size: 22px;
    display: none;
    cursor: pointer;
}

#close-icon {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .toggle-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left:0;
        width: 100%;
        background-color: white;
    }

    .nav-links ul {
        flex-direction: column;
        align-items:left;
        width: 100%;
        padding-left:20px;
        gap:10px;
    }

    .nav-links li {
        padding:10px;
    }

    .nav-links li a {
        font-size: 20px;
    }

    .btn-dwn {
        font-size: 20px;
    }
}

@media only screen and (max-width: 922px) {
    .nav-links li a {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-links li a {
        font-size: 16px;
    }

    .btn-dwn {
        font-size: 18px;
    }
}

@media only screen and (max-width: 546px) {
    .nav-links li a {
        font-size: 14px;
    }

    .btn-dwn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 425px) {
    .nav-links li a {
        font-size: 13px;
    }

    .btn-dwn {
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .nav-links li a {
        font-size: 12px;
    }

    .btn-dwn {
        font-size: 12px;
    }
}
